<p>
  Risk Factors
</p>
  <div class="dashboard-grid" *ngIf="riskFactors != null && riskFactors.length > 0">
      <div class="responsive-table">
        <table class="table">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Type</th>                                            
                  <th></th>
                </tr>
          </thead>
          <tbody>
            <tr *ngFor="let riskFactor of riskFactors">
                <td>{{riskFactor.name}}</td>
                <td>{{riskFactor.description}}</td>   
                <td>{{riskFactor.typeDisplay}}</td>                          
                <td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

